In [1]:
import pandas as pd
data=pd.read_csv('all_kindle_review.csv')
data.head()

,Unnamed: 0.1,Unnamed: 0,asin,helpful,rating,reviewText,reviewTime,reviewerID,reviewerName,summary,unixReviewTime
0,0,11539,B0033UV8HI,"[8, 10]",3,"Jace Rankin may be short, but he's nothing to ...","09 2, 2010",A3HHXRELK8BHQG,Ridley,Entertaining But Average,1283385600
1,1,5957,B002HJV4DE,"[1, 1]",5,Great short read. I didn't want to put it dow...,"10 8, 2013",A2RGNZ0TRF578I,Holly Butler,Terrific menage scenes!,1381190400
2,2,9146,B002ZG96I4,"[0, 0]",3,I'll start by saying this is the first of four...,"04 11, 2014",A3S0H2HV6U1I7F,Merissa,Snapdragon Alley,1397174400
3,3,7038,B002QHWOEU,"[1, 3]",3,Aggie is Angela Lansbury who carries pocketboo...,"07 5, 2014",AC4OQW3GZ919J,Cleargrace,very light murder cozy,1404518400
4,4,1776,B001A06VJ8,"[0, 1]",4,I did not expect this type of book to be in li...,"12 31, 2012",A3C9V987IQHOQD,Rjostler,Book,1356912000

In [2]:
df=data[['reviewText','rating']]
df.head()

                                          reviewText  rating
0  Jace Rankin may be short, but he's nothing to ...       3
1  Great short read.  I didn't want to put it dow...       5
2  I'll start by saying this is the first of four...       3
3  Aggie is Angela Lansbury who carries pocketboo...       3
4  I did not expect this type of book to be in li...       4

In [3]:
df.shape

(12000, 2)

In [4]:
df.isnull().sum()

reviewText    0
rating        0
dtype: int64

In [5]:
df['rating'].unique()

array([3, 5, 4, 2, 1])

In [6]:
df['rating'].value_counts()

rating
5    3000
4    3000
3    2000
2    2000
1    2000
Name: count, dtype: int64

In [7]:
#positive review is 1 and negative review is 0
df['rating']=df['rating'].apply(lambda x:0 if x<3 else 1)

/var/folders/d1/sx4z6pks7174src8mqmf7nkm0000gn/T/ipykernel_6216/305204106.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['rating']=df['rating'].apply(lambda x:0 if x<3 else 1)

In [8]:
df['rating'].value_counts()

rating
1    8000
0    4000
Name: count, dtype: int64

In [9]:
df.head()

                                          reviewText  rating
0  Jace Rankin may be short, but he's nothing to ...       1
1  Great short read.  I didn't want to put it dow...       1
2  I'll start by saying this is the first of four...       1
3  Aggie is Angela Lansbury who carries pocketboo...       1
4  I did not expect this type of book to be in li...       1

In [10]:
from gensim.utils import simple_preprocess
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
lemmatizer=WordNetLemmatizer()
stopwords=set(stopwords.words('english'))

In [11]:
def process_text(text):
    tokens=simple_preprocess(text)
    tokens=[lemmatizer.lemmatize(token) for token in tokens if token not in set(stopwords)]
    return tokens

In [12]:
df['NewreviewText']=df['reviewText'].apply(process_text)
df.head()

/var/folders/d1/sx4z6pks7174src8mqmf7nkm0000gn/T/ipykernel_6216/79604421.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['NewreviewText']=df['reviewText'].apply(process_text)

,reviewText,rating,NewreviewText
0,"Jace Rankin may be short, but he's nothing to ...",1,"[jace, rankin, may, short, nothing, mess, man,..."
1,Great short read. I didn't want to put it dow...,1,"[great, short, read, want, put, read, one, sit..."
2,I'll start by saying this is the first of four...,1,"[start, saying, first, four, book, expecting, ..."
3,Aggie is Angela Lansbury who carries pocketboo...,1,"[aggie, angela, lansbury, carry, pocketbook, i..."
4,I did not expect this type of book to be in li...,1,"[expect, type, book, library, pleased, find, p..."

In [13]:
df['NewreviewText']=df['NewreviewText'].apply(lambda x:' '.join(x))

/var/folders/d1/sx4z6pks7174src8mqmf7nkm0000gn/T/ipykernel_6216/393708573.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['NewreviewText']=df['NewreviewText'].apply(lambda x:' '.join(x))

In [14]:
df.head()

,reviewText,rating,NewreviewText
0,"Jace Rankin may be short, but he's nothing to ...",1,jace rankin may short nothing mess man hauled ...
1,Great short read. I didn't want to put it dow...,1,great short read want put read one sitting sex...
2,I'll start by saying this is the first of four...,1,start saying first four book expecting conclud...
3,Aggie is Angela Lansbury who carries pocketboo...,1,aggie angela lansbury carry pocketbook instead...
4,I did not expect this type of book to be in li...,1,expect type book library pleased find price right

In [15]:
## Train Test Split
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(df['NewreviewText'],df['rating'],test_size=0.20,random_state=27)

In [16]:
from sklearn.feature_extraction.text import CountVectorizer
bow=CountVectorizer()
X_train_bow=bow.fit_transform(X_train).toarray()
X_test_bow=bow.transform(X_test).toarray()

In [17]:
X_train_bow

array([[0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       ...,
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0],
       [0, 0, 0, ..., 0, 0, 0]])

In [18]:
from sklearn.naive_bayes import MultinomialNB
model_bow=MultinomialNB().fit(X_train_bow,y_train)

In [19]:
y_pred=model_bow.predict(X_test_bow)

In [20]:
from sklearn.metrics import confusion_matrix,accuracy_score,classification_report

In [22]:
confusion_matrix(y_test,y_pred)

array([[ 608,  235],
       [ 163, 1394]])

In [24]:
print("BOW accuracy: ",accuracy_score(y_test,y_pred))

BOW accuracy:  0.8341666666666666

In [26]:
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.79      0.72      0.75       843
           1       0.86      0.90      0.88      1557

    accuracy                           0.83      2400
   macro avg       0.82      0.81      0.81      2400
weighted avg       0.83      0.83      0.83      2400